* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:"AvenirNextCyr";
}



@font-face {
  font-family: "AvenirNextCyr";
  src: url(./assets/fonts/AvenirNextCyr-UltraLight.ttf) format("truetype");
  font-weight: 100;
}
@font-face {
  font-family: "AvenirNextCyr";
  src: url(./assets/fonts/AvenirNextCyr-Light.ttf) format("truetype");
  font-weight: 200;
}
@font-face {
  font-family: "AvenirNextCyr";
  src: url(./assets/fonts/AvenirNextCyr-Heavy.ttf) format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "AvenirNextCyr";
  src: url(./assets/fonts/AvenirNextCyr-Medium.ttf) format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "AvenirNextCyr";
  src: url(./assets/fonts/AvenirNextCyr-Regular.ttf) format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "AvenirNextCyr";
  src: url(./assets/fonts/AvenirNextCyr-BoldItalic.ttf) format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "AvenirNextCyr";
  src: url(./assets/fonts/AvenirNextCyr-Bold.ttf) format("truetype");
  font-weight: 700;
}


